
.contenedor {
    width: fit-content;
    margin: auto;

    max-width: 1500px;
    

    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header    header  header"
                         "main      main    main"
                         "aside     aside   aside"
                         "footer    footer  footer";
}

.aside {
    /* background-color: lightcoral; */

    grid-area: aside;

    display: grid;
    grid-gap: 10%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: 1500px;

    justify-content: center;
    align-content: center;
}

.aside > div {
    display: block;

    width: 250px;
    height: 50px;

    border: solid var(--secundario) 3px;
    padding: 50px 20px;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 768px) {
    
    .aside {
        grid-template-columns: auto;
    }

    .aside > div {
        margin: auto;
    }

    .parrafo {
        text-align: center;
    }
    
}
