
/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

/* VARIABLES */

/* DOCUMENTO */
.header, .main, .aside, .footer {
    margin-top: 50px;

}




/* HEADER */
.header {
    /* background-color: lightgreen; */
    grid-area: header;
    display: block;
    
    margin-left: auto;
    margin-right: auto;

}

.titulo {
    border: solid rebeccapurple 2px;
    color: white;

    width: fit-content;
    text-align: center;
    padding: 10px 20px;
    font-size: 2em;
}

/* MAIN */
.main {
    /* background-color: lightblue; */
    
    grid-area: main;
}

.parrafo {
    color: white;

    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}

.numero {
    font-size: 3em;
    color: red;
    text-align: center;
}

.boton {
    padding: 5px;
    margin: 10px;
    font-size: 1.2em;
    border-radius: 10px;

    border-color: royalblue;
    color: lightblue;
    background-color: black;
}

.boton:hover {
    background-color: darkslategray;
    color: white;
}

.nHover {
    background-color: red;
    zoom: 110%;
}

/* ASIDE */
.subTitulo {
    color: rgb(0, 174, 255);
}



/* FOOTER */
.footer {
    /* background-color: lightyellow; */
    color: grey;
    text-align: center;

    grid-area: footer;
}